.card{
    display: flex;
    margin: 10px 10px 30px 10px;
    border: 1px solid #ddd;
    align-items: center;
    padding: 20px;
}
h1{
    font-size: 20px;
}
.image{
    width: 120px;
    display: block;
}
